<launch>
    <param name="highlight_text_color"  value="YELLOW" />
    <!--    Publishers-->
    <node name="publisherA" pkg="psr_parte9_exs" type="publisher.py" output="screen">
        <remap from="chatter" to="dog1"/>
        <param name="frequency"  value="1" />
    </node>

    <node name="publisherB" pkg="psr_parte9_exs" type="publisher.py" output="screen">
        <remap from="chatter" to="dog1"/>
        <param name="frequency"  value="3" />
    </node>

    <node name="publisherC" pkg="psr_parte9_exs" type="publisher.py" output="screen">
        <remap from="chatter" to="dog2"/>
        <param name="frequency"  value="10" />
    </node>

    <!--    Subscribers-->
    <node name="subscriberAB1" pkg="psr_parte9_exs" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriberAB2" pkg="psr_parte9_exs" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriberC" pkg="psr_parte9_exs" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog2"/>
    </node>

</launch>